<h1>Hello from ask controller</h1>
<form action="/answer">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="ask away homie">
  <input type="submit" value="Ask!">
</form>
